/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

body {
    background-color: #353533;
    box-sizing: border-box;
    border: none;
}

.navbar {
    background-color: #710000;
    border-radius: 0;
    color: #ffffff;
}

.navbar-header {
    background-color: #710000;
    
}

.navbar-toggle:hover {
    background-color: #710000;
}

.collapse .nav .dropdown-menu li a {
    color: #1b1a1a;
}

.collapse .nav .dropdown-menu li a:hover {
    color: #f5efef;
    font-weight: bold;
}

.collapse .nav li a{
    color: #ffffff;
}

.collapse .nav li a:hover {
    background-color: #9d1818;
    color: #ffffff;
    font-weight: 500;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 4px;
    margin-right: 5px;
}

.pull-right .btn {
    margin-top: 10px;
}

.container h1 {
    color: #f5efef;
}

.cart {
    color: #f5efef;
}

.table {
    color: #f5efef;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(173, 168, 168, 0.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*************************************************************/



.footer {
    background-color: #710000;
    height: 90px;
    margin-bottom: 0;
    padding: 0;
}